@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #ff8906;
  --secondary-color: #e5306f;
  --text-dark: #0e0d16;
  --text-light: #767268;
  --extra-light: #f7f8fd;
  --white: #ffffff;
  --max-width: 1200px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.responsive-container{
    max-width: 1200px;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}


.btn{
  background-color: var(--primary-color);
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.1rem;
  letter-spacing: 1px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  user-select: none;

}

.btn:hover{
  background-color: var(--primary-color);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.btn:active{
  filter: brightness(85%)
}


body{
  font-family: "Montserrat", sans-serif;
    min-height: 100vh;
}

header{
    width: var(--max-width);
    margin: auto;
  
    position: relative;
  padding:  2rem;
  
}


.logo{
  font-size: 1.7rem;
  font-weight: 700;
}


.logo > span{
  color: var(--primary-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;

}

.nav-items{
    display: flex;
    gap: 1rem;
}

.hamburger-btn{
    display: none;
}




.hero-content{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.hero-title{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero-title h1{
  font-size: 4rem;
  font-size: bold;

}


.hero-title p{
  font-weight: 200;
}

.digital-product{
  color: var(--secondary-color);
}


.hero-img{
  min-width: 500px;
}


.hero-img img{
  width: 100%;
  height: 100%;
}


/* services */

.services{
  padding: 5rem 1rem;
  background-color: var(--extra-light);
  
}

.services-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.services-title h1{
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.services-title p{
  margin-bottom: 1rem;
  font-size: 1.1rem;
}


.services-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  
}


.service-card-icon {
  margin-bottom: 1rem;
  font-size: 2.5rem; 
  line-height: 1;
}

.service-card-icon.design { color: #14b8a6; }    
.service-card-icon.marketing { color: #22c55e; } 
.service-card-icon.branding { color: #6366f1; }


.services-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}


.service-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.service-card:hover{
  border-bottom: 5px solid var(--primary-color);
  transform: translateY(-6px);
}

.service-card h3{
  margin-bottom: 1rem;
}


.service-card p {
  line-height: 1.5;
}



/**FeedBack*/

.feedback{
  padding: 5rem 1rem;

}

.feedback-title{
   text-align: center;
}


.feedback-title h1{
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.feedback-title p{
  margin-bottom: 1rem;
  font-size: 1.1rem;
}



/*testimonials*/

.testimonials-container{

  width: 100%;
  position: relative;
   overflow: hidden;
  margin: 0 auto;
  padding: 0 2.5rem;
  border-radius: 1rems;
}




.testimonials{
  display: flex;
transition: transform 0.5s ease-in-out;

  


}


.testimonial-slide{
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin-top: 2rem;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

   .testimonial-quote-icon {
            font-size: 3rem;
            color: var(--primary-color)
        }


    blockquote {
            margin: 0;
            font-size: 1.25rem; 
            font-weight: 500;
            line-height: 1.6;
            color: #111827; 
            max-width: 90%; 
            font-weight: 300;
            font-style: italic;
        }


.prevBtn,.nextBtn {
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  background-color: var(--extra-light);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: all 0.3s ease-in-out;
  z-index: 10;
  transition: all 0.3s ease-in-out;
 
}

.prevBtn:hover, .nextBtn:hover{
      cursor: pointer;
            font-size: 1.5rem; 
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: #ffffff;
            color: #111827; 
            border-radius: 50%;
            width: 44px; 
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease; 
            z-index: 10;
  

}


.testimonial-author{
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color);
}

.testimonial-author span{
  font-weight: 500;
  color: var(--text-light);
}

.nextBtn{
  right: 1rem;
}

.prevBtn{
  left:1rem;
}

 

.slider-pagination{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 2rem;
 
  
 
 


}

.dots{
 width: 30px;
height: 30px;
border-radius: 50%;
border: none;
padding: 0;
cursor: pointer;
transition: background-color 0.3s ease, transform 0.2s ease;

}

.dots.active{
  background-color: var(--primary-color);
}

.dots:hover{
  transform: translateY(-2px);

}


/* Ideas Section */

.ideas{
  padding: 5rem 1rem;
}


.ideas-container{
  display: flex;
  justify-content: space-between;
  gap: 1rem;

}



.ideas-img{
 
  width: 100%;
  height: auto;
  max-width: 500px;
}

.ideas-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}




.ideas-content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}


.ideas-title{
  font-size: 2.5rem;
  font-weight: 800;
}

.vision-list{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.vision-item{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1rem;
  gap: 1rem;
}

.vision-item h3{
  margin-bottom:0.5rem;
}


.vision-item p {
  color: var(--text-light);
  font-weight: 400;
  line-height: 1.3;
}


.icon-1{
    color: #00d5be;
    background-color: #f0fdfa;
      padding: 0.6rem;
}

.icon-1 i{
  font-size: 1.7rem;

}


.icon-2{
  color: #ff637e;
  background-color: #fff1f2;
  padding: 0.6rem;
}


.icon-2 i{
  font-size: 1.4rem;
}

.icon-3{
      color: #c27aff;
    background-color: #faf5ff;
    padding: 0.6rem;
}


.icon-3 i{
  font-size: 1.4rem;
}


/**Experince*/ 

.experience{
  padding: 5rem 1rem;
  background-color: var(--extra-light);
}


.experience-container{
  display: grid;
 grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  gap: 2rem;
 
}


.experience-title{
  display: flex;
  gap: 1rem;
  
}


.experience-title h1{
  font-size: 2.5rem;
  font-weight: 800;
  flex: 1;
}


.experience-title p{
  color: var(--text-light);
  padding: 1rem;
  flex: 0 0 50%;
}


.experience-matters{
  display: flex;
}


.experience-img{
  max-width: 600px;
  position: relative;
}


.experience-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.experince-img-content {
  position: absolute;
  top: 0;
  right: 2rem;
  transform: translateY(-50%);
  display: flex; 
  align-items: center; 
  padding-block: 1rem; 
  background-color: var(--secondary-color);
  border-radius: 0.5rem; 
  z-index: 1;
  color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}


.experince-img-content > div {
  text-align: center;
  padding: 0 1rem;
}


.experince-img-content div:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.3); 
}


.experince-img-content h4 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.experince-img-content p {
  margin: 0;
  font-size: 0.9rem;
  opacity: 0.9;
}


.experince-items{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 2rem;
}


.experience-item{
  display: flex;
  gap: 10px;
}



.experience-item > div > h3{
  margin-bottom: 0.5rem;
}


.experience-item > div > p{
  color: var(--text-light);
  line-height: 1.5;
  font-weight: 500;
}


.experience-item span{
  background-color: var(--secondary-color);
  color: white;
  height: auto;
  align-self: self-start;
  padding: 0.9rem;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 10px;
}


/***NEWSTLETTER */

.newsletter{
  padding: 1rem;
 
}

.newsletter-content{
  display: flex;
  flex-direction: column;
background-color: var(--secondary-color);
box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
 padding: 3rem 1rem;
 border-radius: 20px;
 position: relative;
 
}


.newsletter h1{
  color: white;
  text-align: center;
  font-size: 2.5rem;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
  
}

.nm-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: var(--white);
    max-width: 600px;
    width: 100%;
    padding: 0.6rem;
    border-radius: 10px;
     margin-bottom: 2rem;
}



input[type="email"]{
  border: none;
  outline: none;
  border-radius: 20px;
  padding-left: 1rem;
 
}


.warning{
  display: none;
  color: var(--primary-color);
  text-align: center;
  font-weight: 800;
  visibility: hidden;
  opacity: 0;
 
}


.warning.info{
  display: block;
  visibility: visible;
  opacity: 1;
}


.success-warning{
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  width: 100%;
  height: 100%;
 background-color: rgba(0, 0, 0, 0.5);

  transition: opacity 0.3s ease, visibility 0.3s ease;
 

  
}

.success-warning.show{
  display: flex;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
   

}


.success-content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--text-light);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: var(--white);
  max-width: 450px;
  padding: 1rem;
  border-radius: 10px;
}


.success-content i {
  color: var(--primary-color);
  font-size: 2rem;
}


.success-warning h3{
  font-weight: 300;
}



/**footer*/

footer{
  padding: 5rem 1rem;
}


.footer-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);

    
}



.footer-card-first{
  display: flex;
  flex-direction: column;
  grid-column: 1 / 3;
  gap: 1rem;
}


.footer-card{
  color: var(--text-light);
}

.footer-card li a{
  color: var(--text-light);
  transition: all 0.3s ease-in-out;
}


.footer-card li:hover a{
  color: var(--secondary-color);
}

.footer-card-first p{
  max-width: 300px;
  height: auto;
}


.social-icons{
  display: flex;
  gap: 5px;
  
}

.social-icons li{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 30px;
  height: 30px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}


.social-icons li:hover{

  background-color: var(--secondary-color);
  border: 1px solid white;
}

.social-icons li:hover i{
    color: white;
}



.footer-card-first > div > h3{
 margin: 0.5rem 0;

}

.footer-card-first  span{
  color: var(--primary-color);
}

.social-icons li i{
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.footer-card h5{
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: var(--text-dark)
}




.footer-card ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}




/* Media Queries */


@media (max-width: 1199px) {
    .responsive-container {
      max-width: 960px;
    }
  }
  
  @media (max-width: 991px) {
    .responsive-container {
      max-width: 720px;
    }
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;  
}


.logo{
    display: block;


}




.nav-items{
    position: absolute;
    top: 80px;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    flex-direction: column;
    width: 100%;
    height: 40vh;
   transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    
}

.nav-items.show{
 
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

  .lets-talk{
    display: none;

  }

  .hamburger-btn{
    display: block;
    font-size: 1rem;
}


  }
  
  @media (max-width: 767px) {
    .responsive-container {
      max-width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .responsive-container {
      max-width: 100%;
      padding: 0 0.5rem;
    }
  }


  